.graphbox {
    width: 60%;
    height: 800px;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    float: left;
}
.databox {
    height: 800px;
    width: 25%;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    font-family: verdana;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    float: left;
}
.bluedot {
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid #000;
}
.reddot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid #000;
}
.orangedot {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    border: 1px solid #000;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #000;
}