:root {
    --main-height: 820px;
    --outer-box-heigth: 740px;
}
table {
    width: 100%;
    margin: 5px 10px 10px 0px;
}
dt {
    font-size: 20px;
    padding: 3px;
}
tr:nth-child(even) {
    background: #E8E8E8;
}
tr:nth-child(odd) {
    background: rgb(226, 225, 225);
}
.cityinput {
    width: 95%;
    height: 50px;
    margin: 10px 20px;
}
.customfunc {
    height: 50px;
    float: right;
}
.cityselectionlabel {
    font-size: 26px;
    margin: 5px 10px 10px 0px;
    padding: 0px 5px 5px 5px;
}
#cityselection {
    width: 300px;
    font-size: 26px;
    border: 1px solid #333;
    margin: 5px 10px 10px 0px;
    padding: 0px 5px 5px 5px;
}
.graphicalbox {
    width: 50%;
    height: var(--main-height);
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 10px 10px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    float: left;
    margin: 0px 10px 10px 20px;
    font-family: verdana;
    font-size: 30px;
}
.graphbox {
    height: 90%;
    font-family: verdana;
    overflow: auto;
    padding: 20px 15px;
    border: 1px solid #333;
}
.mapbox {
    height: 90%;
    font-family: verdana;
    overflow: auto;
    padding: 20px 15px;
    border: 1px solid #333;
    display: none;
}
#map {
    height: 100%;
}
.infobox {
    height: var(--main-height);
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    font-family: verdana;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    padding: 10px 10px;
    margin: 10px 20px;
    overflow: auto;
}
.tabbox {
    font-family: verdana;
    overflow: auto;
    padding: 0px 0px;
}
.nodebox {
    height: 93%;
    font-family: verdana;
    overflow: auto;
    padding: 5px 15px;
    border: 1px solid #333;
    background-color: #faf9f5;
}
.querybox {
    height: 93%;
    display: none;
    font-size: 20px;
    overflow: auto;
    padding: 5px 15px;
    border: 1px solid #333;
    background-color: #faf9f5;
}
#query {
    white-space: pre-wrap;
}
.schemabox {
    height: 93%;
    display: none;
    font-size: 20px;
    overflow: auto;
    padding: 5px 15px;
    border: 1px solid #333;
    background-color: #faf9f5;
}
#schema {
    white-space: pre-wrap;
}
.dotlabel {
    font-size: 25px;
    margin: 10px 10px 0px 0px;
}
.bluedot {
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid #000;
    float: left;
    margin-right: 20px;
}
.reddot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid #000;
    float: left;
    margin-right: 20px;
}
.orangedot {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    border: 1px solid #000;
    float: left;
    margin-right: 20px;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    float: left;
    margin-right: 20px;
}
.tab {
    background-color: #faf9f5;
    border: 1px solid #333;
    border-bottom: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: verdana;
    margin: 0px 5px;
    cursor: pointer;
}
.button {
    background-color: #faf9f5;
    border: 1px solid #333;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: verdana;
    margin: 0px 5px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border: 4px solid #333;
}
.modalcontent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 30%;
}
.modalheader {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    font-size: 35px;
}
.modalbody {
    margin: 10px;
    font-size: 25px;
    padding-top: 10px;
}
.modaltable {
    margin: 0px;
}
.modaltable tr {
    background: #fff;
}
.modaltable div {
    border: 1px solid #333;
    float: right;
    margin-top: 15px;
}
.modaltable input {
    width: 95%;
    font-size: 25px;
}
#modalmessage {
    color: red;
    padding-top: 10px;
}
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: rgb(116, 114, 114);
    text-decoration: none;
    cursor: pointer;
}