<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Travel Graph</title>
		<meta content="City Graph" name="description">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/styles/main.css?v6">
		<script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/assets/scripts/d3.js?v6"></script>
		<script src="/assets/scripts/main.js?v6"></script>
		<script>
			var Dgraph = {{.GraphQLEndpoint}};
		</script>
	</head>
	<body onload="loadData()">
		<div class="cityinput">
			<label class="cityselectionlabel">Choose a city:</label>
			<select id="cityselection" onchange="loadData()">
				{{range $index, $element := .Cities}}
					<option value="{{$element}}">{{$element}}</option>
				{{end}}	
			</select>
		</div>
		<div class="graphbox"></div>
		<div class="databox">
			<div id="data"/>
		</div>
  </body>
</html>