<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Travel Graph</title>
		<meta content="City Graph" name="description">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/styles/main.css">
		<script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/assets/scripts/d3.js"></script>
        <script src="/assets/scripts/main.js"></script>
	</head>
	<body>
		<table>
			<tr>
				<td><div class="graphbox"></div></td>
				<td>
					<div class="databox">
						<table>
							<tr>
								<td>
									<div class="bluedot"></div>
									<div>City</div>
								</td>
								<td>
									<div class="reddot"></div>
									<div>Advisory</div>
								</td>
								<td>
									<div class="orangedot"></div>
									<div>Weather</div>
								</td>
								<td>
									<div class="purpledot"></div>
									<div>Place</div>
								</td>
							</tr>
						</table>
						<table>
							<tr><td id="data"></td></tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
  </body>
</html>