<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Travel Graph</title>
		<meta content="City Graph" name="description">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/styles/main.css?v1">
		<script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.MapsKey}}&callback=initMap&libraries=&v=weekly"></script>
        <script src="/assets/scripts/d3.js?v1"></script>
		<script src="/assets/scripts/query.js?v1"></script>
		<script src="/assets/scripts/main.js?v1"></script>
		<script>
			var Dgraph = {{.GraphQLEndpoint}};
		</script>
	</head>
	<body onload="loadData()">
		<div class="cityinput">
			<label class="cityselectionlabel">Choose a city:</label>
			<select id="cityselection" onchange="loadData()">
				{{range $index, $element := .Cities}}
					<option value="{{$element}}">{{$element}}</option>
				{{end}}
			</select>
			<div class="customfunc">
				<div type="button" class="button" onclick="uploadFeed()">Upload Feed</div>
			</div>
		</div>
		<div class="graphicalbox">
		<div class="tabbox">
				<div type="button" id="graphbutton" class="tab" onclick="showGraphTab('graph')">Graph</div>
				<div type="button" id="mapbutton" class="tab" onclick="showGraphTab('map')">Map</div>
			</div>
			<div class="graphbox"></div>
			<div class="mapbox">
				<div id="map"></div>
			</div>
		</div>
		<div class="infobox">
			<div class="tabbox">
				<div type="button" id="nodebutton" class="tab" onclick="showInfoTab('node')">Node</div>
				<div type="button" id="querybutton" class="tab" onclick="showInfoTab('query')">Query</div>
				<div type="button" id="schemabutton" class="tab" onclick="showInfoTab('schema')">Schema</div>
			</div>
			<div class="nodebox">
				<div id="node"></div>
			</div>
			<div class="querybox">
				<pre id="query"></pre>
			</div>
			<div class="schemabox">
				<pre id="schema"></pre>
			</div>
		</div>
  </body>
</html>