<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Travel Graph</title>
		<meta content="City Graph" name="description">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/styles/main.css?v1">
		<script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.MapsKey}}&callback=initMap&libraries=&v=weekly"></script>
        <script src="/assets/scripts/d3.js?v1"></script>
		<script src="/assets/scripts/query.js?v1"></script>
		<script src="/assets/scripts/main.js?v1"></script>
		<script>
			var Dgraph = {{.GraphQLEndpoint}};
			var AuthHeaderName = {{.AuthHeaderName}};
			var AuthToken = {{.AuthToken}};
		</script>
	</head>
	<body onload="OnLoad()">
		<div class="cityinput">
			<label class="cityselectionlabel">Choose a city:</label>
			<select id="cityselection" onchange="loadData()">
			</select>
			<div class="customfunc">
				<div type="button" class="button" onclick="showNewCityModal()">New City</div>
			</div>
		</div>
		<div class="graphicalbox">
		<div class="tabbox">
				<div type="button" id="graphbutton" class="tab" onclick="showGraphTab('graph')">Graph</div>
				<div type="button" id="mapbutton" class="tab" onclick="showGraphTab('map')">Map</div>
			</div>
			<div class="graphbox"></div>
			<div class="mapbox">
				<div id="map"></div>
			</div>
		</div>
		<div class="infobox">
			<div class="tabbox">
				<div type="button" id="nodebutton" class="tab" onclick="showInfoTab('node')">Node</div>
				<div type="button" id="querybutton" class="tab" onclick="showInfoTab('query')">Query</div>
				<div type="button" id="schemabutton" class="tab" onclick="showInfoTab('schema')">Schema</div>
			</div>
			<div class="nodebox">
				<div id="node"></div>
			</div>
			<div class="querybox">
				<pre id="query"></pre>
			</div>
			<div class="schemabox">
				<pre id="schema"></pre>
			</div>
		</div>
		<div id="newcitymodal" class="modal">
			<div class="modalcontent">
				<div class="modalheader">
					<span class="close" onclick="closeNewCityModal()">&times;</span>
					<span>Add New City</span>
				</div>
				<div class="modalbody">
					<table class="modaltable">
						<tr><td>Country Code:</td><td><input id="countrycode" type="text"/></td></tr>
						<tr><td>City Name:</td><td><input id="cityname" type="text"/></td></tr>
						<tr><td>Latitude:</td><td><input id="lat" type="text"/></td></tr>
						<tr><td>Longitude:</td><td><input id="lng" type="text"/></td></tr>
						<tr><td colspan="2"><div type="button" id="addCity" class="tab" onclick="addNewCity()">Add City</div></td></tr>
						<tr><td id="modalmessage" colspan="2"></td></tr>
					</table>
				</div>
			</div>
		</div>
  </body>
</html>